{{ template "base" . }}

{{ define "content" }}
     <div class="container">
          <div class="row">
               <div class="col">
                    <h1>About Page</h1>
                    <p>This is the about page</p>
                    <p>Visitor count: {{ index .StringMap "test" }}</p>
                    <p>
                         {{ if ne (index .StringMap "remote_ip") "" }}
                              Your remote IP address is: {{ index .StringMap "remote_ip" }}
                         {{ else }}
                              I don't know your IP address, visit the <a href="/">home page</a> to find out.
                         {{ end }}
                    </p>
               </div>
          </div>
     </div>
{{ end }}